<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Charcter Personal Page</title>
  </head>
  <body>
    {{#character}}
      <p>Name: {{name}}</p>
      <p>House: {{house}}</p>
      <p>Year of Birth: {{yearBorn}}</p>
      <p>Facial Characteristics:</p>
      <ul>
        {{#facialCharacteristics}}
          <li>Hair: {{hair}}</li>
          <li>Eye Color:{{eyeColor}}</li>
          {{#unique}}
          <li>{{unique}}</li>
          {{/unique}}
          {{^unique}}
            <p></p>
          {{/unique}}
        {{/facialCharacteristics}}
      </ul>
      <form class="delete" action="/characterProfile/{{_id}}/delete" method="post">
        <button type="submit">Delete!</button>
      </form>
      <form class="updateOne" action="/characterProfile/{{_id}}/update" method="post">
        <p>Name:</p><input type="text" name="name" placeholder="Name">
        <p>House:</p><input type="text" name="house" placeholder="House">
        <p>Year of Birth:</p><input type="text" name="yearBorn" placeholder="Date of Birth">
        <p>Hair:</p><input type="text" name="facialCharacteristics[hair]" placeholder="facial">
        <p>Eye Color:</p><input type="text" name="facialCharacteristics[eyeColor]" placeholder="facial">
        <p>Unique Characteristics:</p><input type="text" name="facialCharacteristics[unique]" placeholder="facial">
        <button type="submit">Update!</button>
      </form>
    {{/character}}
  </body>
</html>
