<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Charcter Personal Page</title>
  </head>
  <body>
    {{#character}}
      <p>Name: {{name}}</p>
      <p>House: {{house}}</p>
      <p>Year of Birth: {{yearBorn}}</p>
      <p>Facial Characteristics:</p>
      <ul>
        {{#facialCharacteristics}}
          <li>Hair: {{hair}}</li>
          <li>Eye Color:{{eyeColor}}</li>
          {{#unique}}
          <li>{{unique}}</li>
          {{/unique}}
          {{^unique}}
            <p></p>
          {{/unique}}
        {{/facialCharacteristics}}
      </ul>
      <form class="delete" action="/characterProfile/{{_id}}/delete" method="post">
        <button type="submit">Delete!</button>
      </form>
      <form class="" action="/characterProfile/{{id}}/update" method="post">
        <p>name:</p>
        <input type="text" name="name" value="{{name}}">
        <p>Hogwarts house</p>
        <input type="text" name="house" value="{{house}}" >
        <p>Year they were born</p>
        <input type="text" name="yearBorn" value="{{yearBorn}}">
        {{#facialCharacteristics}}
          <p>Hair Color</p>
          <input type="text" name="facialCharacteristics[hair]"   value="{{hair}}">
          <p >Eye Color</p>
          <input type="text" name="facialCharacteristics[eyeColor]"   value="{{eyeColor}}">
          <p>Anything extra on their face?</p>
          <input type="text" name="facialCharacteristics[unique]"   value="{{unique}}">
        {{/facialCharacteristics}}
        {{^facialCharacteristics}}
          <p>Hair Color</p>
          <input type="text" name="facialCharacteristics[hair]"   placeholder="Hair Color">
          <p>Eye Color</p>
          <input type="text" name="facialCharacteristics[eyeColor]"   placeholder="Eye Color">
          <p>Anything extra on their face?</p>
          <input type="text" name="facialCharacteristics[unique]"   placeholder="Anything Interesting about them?">
        {{/facialCharacteristics}}
          <button type="submit">Update {{name}}!</button>
      </form>
    {{/character}}
  </body>
</html>
