<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Charcter Personal Page</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {{#character}}
      <h1>Name: {{name}}</h1>
      <h3>House: {{house}}</h3>
      <h3>Age: {{age}}</h3>
      <h3>Year of Birth: {{yearBorn}}</h3>
      <h3>Facial Characteristics:</h3>
        {{#facialCharacteristics}}
      <h3>Hair: {{hair}}</h3>
        <h3>Eye Color:{{eyeColor}}</h3>
          {{#unique}}
          <h3>{{unique}}</h3>
          {{/unique}}
          {{^unique}}
            <h4></h4>
          {{/unique}}
        {{/facialCharacteristics}}
      <form class="delete" action="/characterProfile/{{_id}}/delete" method="post">
        <button type="submit">Delete!</button>
      </form>
      <form class="" action="/characterProfile/{{id}}/update" method="post">
        <h5 class="characterHFive">Name</h5>
        <input type="text" name="name" value="{{name}}">
        <h5 class="characterHFive">Hogwarts house</h5>
        <input type="text" name="house" value="{{house}}" >
        <h5 class="characterHFive">Year they were born</h5>
        <input type="text" name="yearBorn" value="{{yearBorn}}">
        {{#facialCharacteristics}}
          <h5 class="characterHFive">Hair Color</h5>
          <input type="text" name="facialCharacteristics[hair]"   value="{{hair}}">
          <h5 class="characterHFive" >Eye Color</h5>
          <input type="text" name="facialCharacteristics[eyeColor]"   value="{{eyeColor}}">
          <h5 class="characterHFive">Anything extra on their face?</h5>
          <input type="text" name="facialCharacteristics[unique]"   value="{{unique}}">
        {{/facialCharacteristics}}
        {{^facialCharacteristics}}
          <h class="characterHFive"5>Hair Color</h5>
          <input type="text" name="facialCharacteristics[hair]"   placeholder="Hair Color">
          <h5 class="characterHFive">Eye Color</h5>
          <input type="text" name="facialCharacteristics[eyeColor]"   placeholder="Eye Color">
          <h5 class="characterHFive">Anything extra on their face?</h5>
          <input type="text" name="facialCharacteristics[unique]"   placeholder="Anything Interesting about them?">
        {{/facialCharacteristics}}
          <button type="submit">Update {{name}}!</button>
      </form>
    {{/character}}
  </body>
</html>
