<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Harry Potter character Render Page of all characters</title>
  </head>
  <body>
    <h1>This is Harry Potter Character List</h1>
    <a href="/createCharacter">Create a New Character Here</a>
    <a href="/enrollInHouse">See Who Needs to Enroll</a>
    <ul>
      {{#characters}}
      <li>
            <p>Name:{{name}}</p>
            <p>House:{{house}}</p>
            <a href="/characterProfile/{{_id}}">Personal Page</a>
      </li>
      {{/characters}}
    </ul>
  </body>
</html>
