body {
  text-align: center;
  text-shadow: 3px 3px 3px black;
  background-image: url(../../img/HogwartsCastle.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
}
h1 {
  width: 100%;
}
header {
  height: 8em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

h3 {
  font-size: 1.75em;
}

body > a {
  font-size: 2em;
  color: white;
}
a {
  color: white;
  text-shadow: 3px 3px 3px black;
  text-decoration: none;
}

li {
  list-style: none;
}
a:hover {
  background-color: rgba(196, 189, 59, 0.60);
}

#Gryf:hover {
  background-color: rgba(196, 61, 59, 0.60);
}

#Raven:hover {
  background-color: rgba(59, 75, 196, 0.60);
}
#Sly:hover {
  background-color: rgba(64, 149, 45, 0.60);
}

#Huff:hover {
  background-color: rgba(134, 45, 149, 0.60);
}

input[type=text] {
  width: 15em;
  height: 2em;
  margin: 0.5em;
}
form {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  font-size: 1em;
  padding: 0.5em;
}

p {
  margin: 0;
}
img {
  width: 6.5em;
  height: 6.5em;
  padding-bottom: 0.25em;
  margin: 1em;
}
body {
  text-align: center;
  text-shadow: 3px 3px 3px black;
  background-image: url(../../img/HogwartsCastle.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
}
h1 {
  width: 100%;
}
header {
  height: 8em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

h3 {
  font-size: 1.75em;
}

body > a {
  font-size: 2em;
  color: white;
}
a {
  color: white;
  text-shadow: 3px 3px 3px black;
  text-decoration: none;
}

a:hover {
  background-color: rgba(196, 189, 59, 0.60);
}

#Gryf:hover {
  background-color: rgba(196, 61, 59, 0.60);
}

#Raven:hover {
  background-color: rgba(59, 75, 196, 0.60);
}
#Sly:hover {
  background-color: rgba(64, 149, 45, 0.60);
}

#Huff:hover {
  background-color: rgba(134, 45, 149, 0.60);
}

input[type=text] {
  width: 15em;
  height: 2em;
  margin: 0.5em;
}
form {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  font-size: 1em;
  padding: 0.5em;
}

p {
  margin: 0;
}
img {
  width: 6.5em;
  height: 6.5em;
  padding-bottom: 0.25em;
  margin: 1em;
}
